body {
    margin: 0;
}

.main-header {
    background-color: #1F2937;
    color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 24px;
    justify-content: space-between;
    gap: 25%;
}

.header-top {
    font-size: 18px;
    color: #f9faf8;
    margin: 0;
}

.logo-container {
    display: flex; 
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-list  {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px; 
}

.nav-bar a {
    color: #f9faf8;
    font-size: 12px;
    text-decoration: none;
}

.hero-block {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px 20px;
}

.hero-content {
    display: inline-block;
    flex-wrap: wrap;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
}

.hero-button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.hero-image {
    background-color: gray;
    width: 420px;
    height: 150px;
    object-fit: cover;
}