body {
    margin: 0;
}

.main-header {
    background-color: #1F2937;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 50px;
    max-width: 1200px;
}

.header-top {
    font-size: 22px;
    color: #f9faf8;
    margin: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-bar {
    align-items: center;
}

.nav-list  {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.nav-bar a {
    color: #f9faf8;
    font-size: 12px;
    text-decoration: none;
}

.hero-block {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
    max-width: 1200px;
}

.hero-content {
    display: inline-block;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px 20px 0px 0px;
    min-height: 180px;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 12px 0px 12px 0px;
}

.hero-subtitle {
    font-size: 18px;
    margin: 20px 0 20px 0;
}

.hero-button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.hero-image {
    background-color: gray;
    flex-grow: 1;
    height: 180px;
    padding: 12px;
    object-fit: cover;
}

.features-p {
    font-size: 36px;
    margin: 0;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

.features-section {
    background-color: #f9faf8;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 50px;
    gap: 20px;
    max-width: 1200px;
}

.features-grid  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.feature-item {
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
}

.feature-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}